In [3]:
# If we dont use any type hinting

def total_price(price1, price2):
    print(f'Price 1: {price1}, Price 2: {price2}, Sum: {price1 + price2}')
    return f'Total Price: {price1+price2}'

In [6]:
sum_x = total_price(10, 25)
print(sum_x)

Price 1: 10, Price 2: 25, Sum: 35
Total Price: 35

We can see in the above function, it is by default taking input as string, what if i want to add with some float

In [7]:
sum_x = total_price(101, 4.56)
print(sum_x)

Price 1: 101, Price 2: 4.56, Sum: 105.56
Total Price: 105.56

But what if we want to add strings

In [8]:
sum_x = total_price('10', 25)
print(sum_x)

TypeError: can only concatenate str (not "int") to str

In [9]:
sum_x = total_price('10', '25')
print(sum_x)

Price 1: 10, Price 2: 25, Sum: 1025
Total Price: 1025

But now, we can type hint this function deciding what kind of input it should take.

In [13]:
def total_price(price1, price2) -> str:
    print(f'Price 1: {price1}, Price 2: {price2}, Sum: {price1 + price2}')
    return f'Total Price : {price1 + price2}'

In [14]:
sum_y = total_price('10', '25')

Price 1: 10, Price 2: 25, Sum: 1025

In [15]:
def total_price(price1: float, price2: float) -> str:
    # the defined means - it expects floating point value input and returns a string type
    print(f'Price 1: {price1}, Price 2: {price2}, Sum: {price1 + price2}')
    return f'Total Price : {price1 + price2}'

sum_z = total_price(10.34, 55.6)

Price 1: 10.34, Price 2: 55.6, Sum: 65.94